@import '/Variables/variables';
@import '/Mixins/mixins'; // Asegúrate de que el mixin esté importado aquí

// Código en _components.scss
.flip-card {
  background-color: transparent;
  perspective: 1000px;

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border: 1px solid $border-color;
      @include border-radius(10px);
      padding: 20px;
      @include box-shadow(rgba(0, 0, 0, 0.1), 0, 4px, 8px); // Aquí es donde el error ocurre
    }

    .flip-card-front {
      background-color: $bg-light;
    }

    .flip-card-back {
      background-color: $bg-dark;
      color: $white;
      transform: rotateY(180deg);
    }

    img {
      width: 100% !important;
      height: auto !important;
      max-height: 100px !important;
      object-fit: contain !important;
      margin-bottom: 10px !important;
    }
  }
}

