// Variables de colores
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 0.5);
$gray-light: rgba(206, 206, 206, 0.315);
$bg-light: #f8f9fa;
$bg-dark: #343a40;
$border-color: #ccc;
// Archivo: _variables.scss

